/* -------------------------
   GLOBAL STYLES
------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    color: #4f4f4f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /* Light */
}

a {
    color: #e2e2e2;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

/* -------------------------
   LAYOUT CONTAINER
------------------------- */
.container {
    display: flex;
    min-height: 100vh;
}

/* -------------------------
   SIDEBAR
------------------------- */
/* Barra lateral */
.sidebar-container {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border-right: 0px solid #000000;
    display: flex;
    width: 160px;
    transition: none;  /* Sin transicións ao cargar */
    max-width: 210px;
}

/* Para o modo reducido */
.sidebar-container.reduced-mode {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff;
    border-right: 0px solid #000000;
    display: flex;
    padding-right: 10px;
    transition: none;  /* Inicialmente, sen transición */
}


/* A parte interna da barra lateral (side bar) */
.sidebar {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 8px 0 0 8px;
}

/* Modificar a clase reduced-mode para ocultar os textos */
.sidebar.reduced-mode .menu-text {
    display: none; /* Ocultar os textos cando se reduza */
}

.sidebar.reduced-mode .menu-icon {
    display: inline-block; /* Mostrar os íconos */
    font-size: 20px;
    padding: 0px;
    border-radius: 50%;
}

/* Logo */
.logo {
    margin: 20px 0 10px 0;
    text-align: center;
}

.logo img {
    max-width: 75%;
    height: auto;
    transition: none; /* Transición suave para o cambio de tamaño */
}

/* Modo reducido */
.sidebar-container.reduced-mode .logo{
    margin-left: 0px;
    margin-top: 10px;
    text-align: left;

}

/* Modo reducido */
.sidebar-container.reduced-mode .logo img {
    min-width: 115%;   /* Reduzir o tamaño do logo cando a barra está no modo reducido */
}


/* Enlaces */
.sidebar a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.sidebar a:hover {
    color: #000000;
}

.menu-link {
    display: block;
    padding: 2px 3px;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
}

/* Modo completo: Mostra o nome completo */
.sidebar.full-mode .menu-text {
    display: inline-block;
}

/* Menu activo */
.sidebar ul li.active {
    font-weight: bold;
    background-color: #000;
    color: #ffffff;
    border-radius: 4px;
}

.sidebar ul li.active a {
    color: #ffffff;
}

.sidebar ul li.active:hover,
.sidebar ul li.active a:hover {
    background-color: #000;
    color: #ffffff;
    cursor: default;
}

/* Elementos non activos */
.sidebar ul li:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
}

/* Botón para alternar entre os modos (frecha) */
.toggle-button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    position: relative;  /* Fixar a posición */
    margin-left: 5%;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;  /* Facelo máis disimulada */
    transition: opacity 0.3s ease;  /* Transición para o cambio de opacidade */
    transform: rotate(180deg);
}

/* Ao pasar o rato sobre o botón, facelo máis visible */
.toggle-button:hover {
    opacity: 1;
}

/* Alternar entre os modos */
.sidebar.reduced-mode .toggle-button {
    transform: rotate(0deg);
}

.sidebar-container.reduced-mode {
    width: 50px; /* Menor ancho no modo reducido */
}

/* Estilos para o nav */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

nav a {
    color: #484848;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10%;
}

nav a:hover {
    color: #000;
}

/* Modo completo: Mostra o nome completo */
.sidebar-container.full-mode .sidebar .menu-text {
    display: inline-block;
}

.sidebar-container.reduced-mode .sidebar .menu-text {
    display: none;
}
.sidebar-container.full-mode .sidebar.menu-icon {
    display: none;
}

.sidebar-container.reduced-mode .sidebar .menu-icon {
    display: inline-block;
    font-size: 20px; /* Tamaño para o emoji */
    color:rgb(0, 0, 0)
}


/* -------------------------
   CONTENT AREA STYLES
------------------------- */
.content {
    flex: 1;
    padding: 40px;
    border-radius: 0 8px 8px 0;
}

.content h1, .content h2, .content h3 {
    color: #222;
    font-weight: 700; /* Máximo recomendado */
}

/* -------------------------
   BUTTON STYLES
------------------------- */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e88e5;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1565c0;
}

/* -------------------------
   RESPONSIVE DESIGN
------------------------- */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        box-shadow: none;
        flex-direction: row;
        overflow-x: auto;
        border-radius: 0;
    }

    .sidebar nav ul {
        display: flex;
    }

    .sidebar nav li {
        margin: 0 15px 0 0;
    }

    .content {
        padding: 20px;
        border-radius: 0;
    }
}


/* -------------------------
   BIBLIOTECA
------------------------- */
.biblioteca-container {
    margin: 20px;
    margin-top: -10px;
}

.obra-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.obra-card {
    background: #fff;
    width: calc(13% - 10px);
    min-width: 160px;
    max-width: 230px;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 0px solid #d6d6d6;
    border-radius: 8px;
    padding: 13px;
    margin: 16px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.obra-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.obra-texto {
    margin-left: 16px; /* Espazo entre texto e portada */
    max-width: 100%; /* O texto ocupa un 70% do ancho */
}

.obra-portada {
    margin-top: 14px; /* Espazo entre texto e portada */
    max-width: 100%; /* A portada ocupa un 25% do ancho */
    margin-left: 16px; /* Espazo entre texto e portada */
    margin-right: 12px; /* Espazo entre texto e portada */
}

.obra-portada img {
    width: 100%; /* A imaxe ocupa o 100% do contedor */
    height: auto;
    border: 0px solid #000000;
    box-shadow: 0px 0px 10px rgb(0, 0, 0,0.3);
}

.obra-card h2 {
    font-size: 18px;
    margin: 8px 0;
}

.obra-card p {
    font-size: 14px;
    color: #555;
    margin: 4px 0;
}

.button {
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #141414;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #707070;
}

/* Estilo principal do modal */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px; /* Límite de ancho */
    width: 90%; /* Adaptable a pantallas pequenas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Contido vertical */
}

/* Corpo principal con imaxe e texto */
.modal-body {
    display: flex;
    gap: 20px; /* Espazo entre o texto e a imaxe */
}

/* Texto á esquerda */
.modal-text {
    flex: 2; /* O texto ocupa 2/3 do espazo */
}

/* Imaxe á dereita */
.modal-image {
    flex: 1; /* A imaxe ocupa 1/3 do espazo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image img {
    max-width: 100%; /* A imaxe ocupa todo o ancho dispoñible */
    height: auto; /* Mantén as proporcións */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botón para pechar */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

/* Estilo do botón de descarga */
.modal-text .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1565c0;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.modal-text .button:hover {
    background-color: #003c8f;
}




/* -------------------------
   CALENDARIO
------------------------- */


#calendar {
    max-width: 100%;
    max-height: 88vh !important;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdfdfd;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Personaliza os eventos */
.fc-event {
    background-color: #d1d1d1 !important; /* Fondo azul */
    color: #ffffff !important; /* Texto branco */
    border: none !important; /* Sen bordes */
    font-size: 14px;
}

/* Evento ao pasar o rato */
.fc-event:hover {
    background-color: #a1a1a1 !important; /* Cor máis escura */
}

/* Día actual */
.fc-day-today {
    background-color: #f0f8ff !important; /* Fondo lixeiramente azul */
}
.fc-button,
.fc-today-button,
.fc-prev-button,
.fc-next-button {
    background-color: #000000 !important;
    color: #fff !important;
    border-radius: 5px !important;
    margin: 2px !important;
    padding: 5px 10px !important;
    font-weight: bold !important;
}


/* Botón "prev" (anterior) */
.fc-toolbar-chunk .fc-prev-button {
    background-color: #0f0f0f !important; /* Laranxa */
    color: #ffffff !important;
    border: none !important;
}

/* Botón "next" (seguinte) */
.fc-toolbar-chunk .fc-next-button {
    background-color: #0f0f0f !important; /* Verde */
    color: #ffffff !important;
    border: none !important;
}

.fc-button:hover,
.fc-today-button:hover,
.fc-prev-button:hover,
.fc-next-button:hover {
    background-color: #505050 !important;
}

.fc-toolbar-title {
    color: #000000 !important; /* Cor branca */
    font-size: 20px; /* Tamaño do texto */
    font-weight: bold; /* Texto en negrita */
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000; /* Light */
    text-align: center; /* Centrar o texto */
}
fc-daygrid-day {
    min-height: auto; /* Deixa que a altura dos días se adapte */
}

.fc-daygrid-day-frame {
    height: 100%; /* O contido de cada día ocupa toda a altura dispoñible */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Os eventos e números de día quedan arriba */
    align-items: center;
}

/* Cambiar a cor do botón activo */
.fc-button.fc-button-active {
    background-color: #4b4b4b!important;
    color: #fff!important;
    border-color: #4b4b4b!important;
}

/* Cambiar a cor de fondo do día de hoxe */
.fc-day-today {
    background-color: #ffffff !important; /* Azul claro */
    border: 2px solid #000000 !important; /* Azul escuro */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important; /* Engadir sombra */
}

/* Cambiar a cor de fondo do día de hoxe */
.fc-timegrid-col.fc-day-today {
    background-color: #f5f5f5 !important; /* Azul claro */
    border: 0px solid #ffffff !important; /* Azul escuro */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important; /* Engadir sombra */
}

.fc-day-today .fc-daygrid-day-number {
    color: #000000 !important; /* Cambiar a cor do número */
    font-weight: bold !important; /* Texto en negrita */
}
/* Cambiar a cor dos números dos días */
.fc-daygrid-day-number {
    color: #6e6e6e; /* Cor dos números */
    font-weight: normal; /* Negrita opcional */
}

/* Cambiar a cor dos nomes dos días na cabecera */
.fc-col-header-cell {
    color: #4caf50 !important; /* Cor dos nomes dos días */
    font-size: 1.2em !important; /* Tamaño opcional */
    font-weight: bold !important; /* Texto en negrita */
}



/* ================================================================= 
   ESPAZOS
   ================================================================= */

/* Axusta o tamaño do mapa */
#map {
    display: inline-block; 
    height: 80vh;
    width: 70%; /* Ou 100% para ocupar todo o espazo */
    border-radius: 10px; /* Opcional */
}

.contido-espazos {
    margin-top: 3vh;
}


  /* Espazo principal: Foto de fondo e contido centrado */
    .caixa-mapa {
    flex: 1;
    background-size: cover;  /* A foto ocupará todo o espazo do contedor */
    background-position: center;  /* Centra a imaxe de fondo */
    height: 80vh !important;  /* Altura do viewport, cubre toda a pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block; 
    margin-left: 2%;
    width: 27%;            /* Ancho de la caja */
    height: 80vh;           /* Alto de la caja */
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Opcional */
    overflow-y: auto;
  }
  
  /* Caixa branca que contén o nome e a descrición */
  #info-espazo {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    text-align: left;
  }

.imaxe-fondo {
    width: 100%;                /* A imaxe ocupa todo o ancho da pantalla */
    top: 0;                     /* Está na parte superior da pantalla */
    left: 0;                    /* Está á esquerda da pantalla */
    z-index: -1;                /* Asegura que a imaxe quede detrás do contido */
    height: 22vh;              /* Altura fixada da imaxe (pódese ajustar) */
    overflow: hidden;           /* Impide que a imaxe se desborde */
  }
  
  /* Imaxe que ocupa todo o espazo do contedor */
  .fondo-espazo {
    width: 100%;                /* A imaxe ocupa todo o ancho */
    height: 100%;               /* A imaxe ocupa toda a altura do contedor */
    object-fit: cover;          /* Asegúrate de que a imaxe cubra o espazo sen deformarse */
    object-position: center;    /* Centra a imaxe dentro do contedor */
  }
  
  /* Contedor que agrupa o logo e o título */
  .header-espazo {
    display: flex;           /* Usamos flexbox */
    align-items: center;     /* Alinea verticalmente os elementos no centro */
    padding: 10px;           /* Engadimos algo de espazo interior */
  }
  

  /* Estilo do logo */
.logo-espazo {
    position: relative;         /* O logo se posiciona de forma absoluta dentro do contedor */
    top: -7vh;                 /* Fai que o logo se asome por riba da imaxe */
    left: 3vh;                 /* Pódese axustar a posición horizontal do logo */
    width: 12vh;                /* Tamaño do logo, pódese axustar */
    height: auto;               /* Mantén as mesmas dimensións para un logo redondo */
    border-radius: 50%;         /* Esto fai que o logo sexa redondo */
    background-color: #fff;     /* Fondo branco do logo (pódese cambiar) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);  /* Sombra para dar efecto de elevación */
    z-index: 10;                 /* Garante que o logo estea por enriba da imaxe */
  }
  
  /* Estilos do nome (título) */
  #info-espazo h2 {
    font-size: calc(1.5rem + 0.5vh);         /* Tamaño do texto */
    position: absolute;
    margin-left: 3.5vh; 
    margin-top: 60px;
    font-weight: bold;       /* Negrita */
    color: #000000;             /* Cor do texto */
    text-align: left;        /* Alineación á esquerda */
  }/* Contedor para a imaxe de fondo */

  #info-espazo p {
    color: #000000;             /* Cor do texto */
    text-align: left;        /* Alineación á esquerda */
    margin-left: 5.1vh;               /* Elimina marxe ao redor do título */
  }
  
  .descricion-espazo {
    padding: 0px;
    margin: -10px;
    max-width: 80%;
    text-align: left;
  }

  
  /* Respoñibilidade para dispositivos móbiles */
  @media (max-width: 768px) {
    .espazo-container {
      height: auto;  /* Permite que o contedor se axuste ao contido en pantallas pequenas */
    }
  
    .info-box {
      max-width: 90%;
      padding: 15px;
    }
  
    .info-box h1 {
      font-size: 2rem;
    }
  
    .espazo-logo {
      width: 120px;
    }
  }
  
/* Fai que o mapa sexa responsivo */
@media (max-width: 768px) {
    #map {
      height: 300px;
    }
}

/* Modificar directamente os botóns de zoom */
.leaflet-control-zoom a {
    background-color: #000 !important; /* Fondo negro dos botóns */
    color: #fff            !important; /* Texto branco nos botóns */
    font-weight: bold        !important; /* Grosor do símbolo */
    font-size: 18px          !important; /* Tamaño do texto */
    text-align: center       !important; /* Centrar o símbolo */
    line-height: 36px        !important; /* Centra verticalmente o símbolo no botón */
    width: 36px              !important; /* Largura do botón */
    height: 36px             !important; /* Altura do botón */
    border: none             !important; /* Elimina bordes */
    margin-top: 2px         !important;
    border-radius: 5px       !important; /* Esquinas redondeadas */
    box-shadow: none         !important; /* Elimina a sombra por defecto */
    transition: background-color 0.3s ease !important; /* Efecto ao pasar o rato */
  }
  
  /* Modificar os botóns ao pasar o rato */
  .leaflet-control-zoom a:hover {
    background-color: #333 !important; /* Fondo gris escuro ao pasar o rato */
    color: #fff            !important; /* Mantén o texto branco */
  }
  
  /* Eliminar o fondo negro detrás dos botóns */
  .leaflet-control-zoom {
    background: none  !important; /* Elimina o fondo detrás dos botóns */
    border: none      !important; /* Elimina calquera borde adicional */
    box-shadow: none  !important; /* Elimina sombra do contedor */
  }

  /* Aplica o efecto "darken" usando mix-blend-mode */
.leaflet-tile-container img {
    mix-blend-mode: normal !important; /* ou darken, dependendo do efecto desexado */
  }
  
  /* Opcional: forza a transparencia na capa superposta */
  .leaflet-tile-container {
    opacity: 1; /* Axusta a opacidade segundo o resultado desexado */
  }

  #localidade-filter {
    font-size: 14px;               /* Tamaño da fonte do botón */
    padding: 10px 20px;            /* Espazo interno do botón (arriba, abaixo, esquerda, dereita) */
    background-color: #000000;     /* Cor de fondo do botón */
    border-radius: 5px;            /* Bordos redondeados */
    color: #ffffff;                   /* Cor do texto */
    appearance: none;              /* Elimina a apariencia por defecto do navegador */
    -webkit-appearance: none;      /* Elimina a apariencia por defecto en Safari */
    -moz-appearance: none;         /* Elimina a apariencia por defecto en Firefox */
    width: auto;                   /* O tamaño do botón axustase ao contido */
    cursor: pointer;              /* Aparece o cursor en forma de man */
    transition: all 0.3s ease;     /* Transición suave ao pasar o rato ou ao interactuar */
     }

  /* Estilizar as opcións do select */
    #localidade-filter option {
    font-size: 14px;               /* Tamaño da fonte das opcións */
    padding: 10px;                 /* Espazo interno das opcións */
    background-color: #3a3a3a;        /* Cor de fondo das opcións */
    color: #ffffff;                   /* Cor do texto das opcións */
    transition: background-color 0.3s ease; /* Transición suave no fondo ao pasar o rato */
    }

/* Cambiar o fondo cando pasas o rato sobre as opcións */
#localidade-filter option:hover {
    background-color: #f73232 !important;     /* Fondo azul ao pasar o rato */
    color: rgb(0, 0, 0) !important;                  /* Texto branco cando pasa o rato */
  }

  
  