.sidebar-mobil-container {
    display: none;  /* A barra lateral móbil está oculta por defecto */
}


.menu-mobil {
    list-style: none; /* Eliminar puntos da lista */
    position:static;
    margin-top: 10px;        /* Eliminar marxe por defecto */
    padding: 0;       /* Eliminar recheo por defecto */
    display: flex;    /* Utilizar Flexbox para disposición horizontal */
    justify-content:space-around; /* Os elementos estarán ao principio (pódese cambiar se queres outros espazos) */
    overflow-y: hidden !important;
}
    
.menu-mobil li {
    text-decoration: none; /* Eliminar subliñado nos enlaces */
    font-size: 20px;       /* Tamaño de fonte */
    display: flex;         /* Axuda a alinear o contido dentro do enlace, se é necesario */
    align-items: center;   /* Alinear verticalmente os elementos dentro do enlace */
}
    
    menu li.active a {
    color: #3498db; /* Cor do enlace activo */
}
    
.menu-mobil li a:hover {
    color: #f0f0f0;  /* Cor ao pasar o rato sobre o enlace */
}


/* -------------------------
   CON MENOS DE 768 PX
------------------------- */


/* Estilos para pantallas pequenas (móbiles) */
@media (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        background-color: #eaeaea;
        color: #4f4f4f;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; /* Light */
    }

    .content {
        flex: 1;
        padding: 0px;
        margin-left: 0;
        padding-bottom: 8vh !important; /* Evitar que o contido quede cuberto pola barra lateral móbil */
    }

    .window-container {
        flex-direction: column;
    }

    .window{
        width: 100%;
    }

    /* Ocultar a barra lateral de escritorio no móbil */
    .sidebar-container {
        display: none;
    }

    /* Mostrar a barra lateral móbil no móbil */
    .sidebar-mobil-container {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65px;
        background-color: #fff;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05); /* Sombra */
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 1000;
    }

    .menu-icon img {
        width: 45px;
        height: auto;
        display: block; /* Evitar desprazamentos inesperados */
        object-fit: contain; /* Asegura que o contido se axuste sen recortes */
    }

    
/* -------------------------
   BIBLIOTECA
------------------------- */
.biblioteca-container {
    margin: 0;
    padding: 25px;
}

.banner-biblioteca {
    display: none;
}

.lista-libros {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 1fr; /* Asegúrate de que as filas teñan a mesma altura */
    justify-items: center; /* Centra os elementos dentro de cada celda */
    margin-top: 0px;
}

.libro {
    background: #fff;
    width: 70%;
    min-width: 0px;
    max-width: none;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 0px solid #d6d6d6;
    border-radius: 8px;
    margin: 0 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.libro-titulo {
    margin-left: 0px; /* Espazo entre texto e portada */
    max-width: 100%; /* O texto ocupa un 70% do ancho */
}

.libro-portada {
    margin-top: 0px; /* Espazo entre texto e portada */
    max-width: 100%; /* A portada ocupa un 25% do ancho */
    margin-left: 0px; /* Espazo entre texto e portada */
    margin-right: 0px; /* Espazo entre texto e portada */
}

.obra-portada img {
    width: 100%; /* A imaxe ocupa o 100% do contedor */
    height: auto;
    border: 0px solid #000000;
    box-shadow: 0px 0px 5px rgb(0, 0, 0,0.2);
}

.libro h2 {
    font-size: 12px;
    margin: 4px 0;
    text-align: center;
}

.libro p {
    display: none;
}

/* ================================================================= 
   ESPAZOS
   ================================================================= */

/* Axusta o tamaño do mapa */
#map {
    width: 100%; /* Ou 100% para ocupar todo o espazo */
    height: 100vh;
}

#map-window-container {
    height: 100vh;
    top: 0px;
    position: fixed;
}

#map-window {
    border-radius: 0px;
    top: 0px;
    position: fixed;
    height: 100vh !important;
}

  
  /* Caixa branca que contén o nome e a descrición */
  #info-espazo {
    position: absolute; 
    bottom: 30px;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: left;
    display: none;
    z-index: 1000;
  }
  
  /* Contedor que agrupa o logo e o título */
  .header-espazo {
    display: flex;           /* Usamos flexbox */
    align-items: center;     /* Alinea verticalmente os elementos no centro */
    padding: 10px;           /* Engadimos algo de espazo interior */
  }
  

  /* Estilo do logo */
.logo-espazo {
    position: relative;         /* O logo se posiciona de forma absoluta dentro do contedor */
    top: -7vh;                 /* Fai que o logo se asome por riba da imaxe */
    left: 3vh;                 /* Pódese axustar a posición horizontal do logo */
    width: 12vh;                /* Tamaño do logo, pódese axustar */
    height: auto;               /* Mantén as mesmas dimensións para un logo redondo */
    border-radius: 50%;         /* Esto fai que o logo sexa redondo */
    background-color: #fff;     /* Fondo branco do logo (pódese cambiar) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);  /* Sombra para dar efecto de elevación */
    z-index: 10;                 /* Garante que o logo estea por enriba da imaxe */
  }
  
  /* Estilos do nome (título) */
  #info-espazo h2 {
    font-size: calc(1rem + 0.5vh);         /* Tamaño do texto */
    position:static;
    margin-left: -8vh; 
    margin-top: 60px;
    font-weight: bold;       /* Negrita */
    color: #000000;             /* Cor do texto */
    text-align: left;        /* Alineación á esquerda */
  }/* Contedor para a imaxe de fondo */

  #info-espazo p {
    color: #000000;             /* Cor do texto */
    text-align: left;        /* Alineación á esquerda */
    margin-left: 5.1vh;               /* Elimina marxe ao redor do título */
  }
  
  .descricion-espazo {
    padding: 0px;
    margin: -10px;
    max-width: 80%;
    text-align: left;
  }

/* Modificar directamente os botóns de zoom */
.leaflet-control-zoom a {
    background-color: #000 !important; /* Fondo negro dos botóns */
    color: #fff            !important; /* Texto branco nos botóns */
    font-weight: bold        !important; /* Grosor do símbolo */
    font-size: 18px          !important; /* Tamaño do texto */
    text-align: center       !important; /* Centrar o símbolo */
    line-height: 36px        !important; /* Centra verticalmente o símbolo no botón */
    width: 36px              !important; /* Largura do botón */
    height: 36px             !important; /* Altura do botón */
    border: none             !important; /* Elimina bordes */
    margin-top: 2px         !important;
    border-radius: 5px       !important; /* Esquinas redondeadas */
    box-shadow: none         !important; /* Elimina a sombra por defecto */
    transition: background-color 0.3s ease !important; /* Efecto ao pasar o rato */
  }
  
  /* Modificar os botóns ao pasar o rato */
  .leaflet-control-zoom a:hover {
    background-color: #333 !important; /* Fondo gris escuro ao pasar o rato */
    color: #fff            !important; /* Mantén o texto branco */
  }
  
  /* Eliminar o fondo negro detrás dos botóns */
  .leaflet-control-zoom {
    background: none  !important; /* Elimina o fondo detrás dos botóns */
    border: none      !important; /* Elimina calquera borde adicional */
    box-shadow: none  !important; /* Elimina sombra do contedor */
  }

  /* Aplica o efecto "darken" usando mix-blend-mode */
.leaflet-tile-container img {
    mix-blend-mode: normal !important; /* ou darken, dependendo do efecto desexado */
  }
  
  /* Opcional: forza a transparencia na capa superposta */
  .leaflet-tile-container {
    opacity: 1; /* Axusta a opacidade segundo o resultado desexado */
  }

/* -------------------------
   CALENDARIO
------------------------- */

#calendar {
    width: auto !important;
    height: 50vh !important;
    background-color: #fdfdfd;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

#window-container-calendario {
    width: 90%;
    margin-left: 5%;
}

.fc-toolbar-title {
    font-size: 17px !important; /* Tamaño do texto */
}

.fc-button,
.fc-today-button,
.fc-prev-button,
.fc-next-button {
    background-color: #000000 !important;
    color: #fff !important;
    border-radius: 5px !important;
    margin: 2px !important;
    padding: 5px 10px !important;
    font-weight: bold !important;
    font-size: 10px !important;
}

}
