<!DOCTYPE html>
<html lang="gl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/scripts/functions.js"></script>
    <script src="/scripts/normativa.js"></script>
</head>
<body style="visibility: hidden;">
    <div class="container">
        <!-- Barra lateral -->
        <aside class="sidebar-container">
            {{ partial "sidebar.html" . }}
        </aside>
        
        <!-- Contido principal -->
        <main class="content">
            {{ block "main" . }}{{ end }}
        </main>
    </div>
</body>
</html>
