{{ define "main" }}
<script src="/scripts/biblioteca.js"></script>
<div id="biblioteca-container" class="standard-section-container" >
    <div class="banner-biblioteca">
        <img class="fondo-banner" src="{{ "/images/banners/fondos/lenin_estado.png" | relURL }}" alt="Fondo do banner">
        <img class="titulo-banner" src="{{ "/images/banners/titulos/lenin_estado.png" | relURL }}" alt="Fondo do banner">
        <p  class="descricion-banner">descrición</p>
    </div>

    <div class="lista-libros">
        {{ range sort (where .Site.RegularPages "Section" "biblioteca") ".Params.autore" }}
        <div class="libro {{ if eq .Params.titulo "O Estado e a Revolución" }}seleccionado{{ end }}" onclick="seleccionarLibro(this)">
            <div class="libro-portada">
                {{ with .Params.portada }}
                <img src="{{ . }}" alt="Portada de {{ $.Params.titulo }}">
                {{ end }}
            </div>
            <div class="libro-titulo">
                <h2>{{ .Params.titulo }}</h2>
                <p>{{ .Params.serie }}: #{{ .Params.numero }}</p>
                <p>{{ .Params.autore }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    
</div>

{{ end }}
